@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root{
    --key-color: #009688;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto Mono', monospace; */
}

.banner{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(1,1,1,0.95),rgba(1,1,1,0.95)), url(resources/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: var(--key-color);
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: var(--key-color);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.7s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.menu{
    display: none;
}

.content{
    width: 100%;
    position: absolute;
    top: 25%;
    transform: translateY(-50);
    text-align: center;
    color: #fff;
}

.content span{
    color: var(--key-color);
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
    font-family: 'Roboto Mono', monospace; 
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: 'Roboto Mono', monospace;
}

.button{
    margin-top: 45px;
}

.button a{
    padding: 10px 25px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid var(--key-color);
    color: #fff;
    text-decoration: none;
}
.button a:hover{
   background: var(--key-color);
   transition: 0.7s;
}

#primary{
    background: var(--key-color);
}

#primary:hover{
    letter-spacing: 1.5px;
    transition: 0.7s;
}

@media only screen and (max-width:700px){
    .navbar ul{
        display: none;
    }

    .menu{
        display: block;
        filter: invert(1);
    }

    .content{
        top: 28%;
    }
    .content h1{
        font-size: 40px;
        margin-top: 80px;
    }
    .content p{
        width: 80%;
    }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape){
    .content{
        top: 10%;
    }

    .menu{
        display: none;
    }

    .content h1{
        font-size: 40px;
        margin-top: 80px;
    }
    
    .content p{
        width: 80%;
    }
}
